mixin image({ src, alt, classes, bgimage })
  -
    const tag = bgimage ? 'figure' : 'img'
    const classnames = classNames({
      'image': true,
      'image--bg': bgimage,
      [classes]: classes
    })
    const style = bgimage && `background-image: url(${bgimage})`

  #{tag}(src=src, alt=alt, class=classnames, style=style)
